header {
  background-color: rgba(0,0,0,.5);
  .navigation {
    width: 100vw;
    height: 65px; 
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 230px;
      margin-right: 50px;
      li {
        flex: 1 1 auto;
        height: 100%;
        list-style: none;
        a {
          font-family: 'Crimson Text', serif;
          font-size: 18px;
          color: #fff5ce;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .3s;
          border-bottom: 3px solid transparent;
          &:hover {
            border-bottom: 3px solid #fff5ce;
          } 
        }
      }
    }
  }
}
