.missao {
    .wrapper {
        margin-top: 60px;
    }
    .left {
        flex: 0 1 230px;
        .user {
            background-image: url('../img/escudo.png');
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 365px;
            &__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 50px;
                font-family: 'Crimson Text', serif;
                figure {
                    img {
                        max-width: 90px;
                    }
                }
                .name {
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #d6ab7f;
                }
                .score {
                    font-size: 50px;
                    font-weight: normal;
                    text-transform: uppercase;
                    margin-top: 10px;
                    letter-spacing: 2px;
                    color: #d6ab7f;
                }
            }
        }
    }
    .center {
        flex: 0 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .recompensas {
            background-image: url('../img/bg-painel-missao.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            &__wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                height: 100%;
                padding-top: 40px;
                max-height: 550px;
            }
            &__title {
                font-family: 'Crimson Text', serif;
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                color: #d6ab7f;
                height: fit-content;
                width: 100%;
                padding: 0 40px;
                h2 {
                    margin-top: 0px;
                }
            }
            &__main {
                width: 100%;
                padding: 0 40px;
                max-height: 385px;
                overflow-y: auto;
                max-width: 450px;
            }
            &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__item {
                flex: 0 1 50%;
                min-height: 190px;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 135px;
                margin: 0 15px 30px 15px;
                background-image: url('../img/pergaminho.png');
                background-size: contain;
                background-repeat: no-repeat;
                figure {
                    margin: 20px 15px 0 15px;
                    height: 85px;
                    background-color: #fff;
                    border: 1px solid #b4b4b4;
                }
                p {
                    font-size: 15px;
                    color: #2d231f;
                    text-align: center;
                }
            }
        }
    }
    .right {
        flex: 0 1 430px;
        .unit-mobile {
            display: block;
        }
        .logo {
            display: none;
        }
        .iframe-section {
            width: fit-content;
            display: flex;
            justify-content: center;
            position: relative;
            max-width: 100%;
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9999;
            }
        }
    }
    @media(max-width: 1200px) {
        .wrapper {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            .left {
                order: 2;
                width: 100%;
                flex: 1 1 100%;
                .user {
                    max-width: 230px;
                    margin: 0 auto;
                }
            }
            .center {
                flex: 0 1 100%;
                order: 3;
                .recompensas {
                    max-width: initial;
                    width: 100%;
                    background-position-x: center;
                    background-size: 560px;
                    margin-top: 50px;
                    margin-bottom: 110px;
                    &__main {
                        max-width: 385px;
                        padding: 0;
                    }
                }
            }
            .right {
                flex-wrap: wrap;
                order: 1;
                .logo {
                    display: block;
                }
            }
        }
    }
    @media(max-width: 720px) {
        .wrapper {
            .left {
                display: none;
            }
            .center {
                .recompensas {
                    background-size: contain;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    &__main {
                        max-height: 175px;
                        max-width: 270px;
                    }
                }
            }
            .right {
                justify-content: center;
                
                iframe {
                    position: relative;
                    
                }
            }
        }
    }
}